NEXT_PUBLIC_FIREBASE_API_KEY='XXXXXXXXXXXXX'
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN='XXXXXXXXX'
NEXT_PUBLIC_FIREBASE_API_KEY='XXXXX'
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET='XXXXXXXXX'
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=''
NEXT_PUBLIC_FIREBASE_APP_ID=''
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=''